<td><%= team %></td>
<td><%= score %></td>

<td><a href="#/<%= objectId %>">Show</td>
<td><a href="#/<%= objectId %>/edit">Edit</td>
<td><a href="#/<%= objectId %>/destroy" class="destroy">Destroy</a></td>